@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
    
    html { 
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    
        html { 
        font-size: 120%;
    }    
}

@media only screen and (min-width: 120em) {
    
        html { 
        font-size: 130%;
    }
}

body {
  margin: 0;
  padding: 0;
}

a:hover,
a:active {
    outline: none;
}

a:focus {
    outline: 3px solid #60c7d0;
}

.skip-links {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

.logo {
    height: 4.5em;
    width: inherit;
    padding-left: 1em;
    padding-top: 1em;
    display: inline-block;
}

.logo-wrap {
    text-align: center;
}

img {
  display: block;
  width: 100%;
}

.header {
    background-color: #e6ecd9;
    overflow: hidden;
}

.title {
    text-align: left;
    margin: 0;
    padding: 0;
}

.nav {
    padding: 0;
    list-style-type: none; 
    color: black; 
}

.nav a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: gray;
}

.nav a:link {
    color: gray;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current {
    background-color: #60c7d0;
    color: white;
    border-width: 1px;
    border-color: black;
}

.nav a:visited {
    color:gray;
}

a {
    text-decoration: none;
}

.billboard {
    text-align: center;
    padding-top: 6em;
    background-image: url(images/sanfran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 550px;
}

.price-billboard {
    text-align: center;
    padding-top: 1em;
    background-image: url(images/pricing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 550px;
}

.ty-billboard {
    text-align: center;
    padding-top: 8.5em;
    background-image: url(images/sanfran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 550px;
}

.start-billboard {
    text-align: center;
    background-image: url(images/sanfran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;   
}

.ty-p {
    max-width: 24em;
    text-align: center;
}

.headline {
    text-align: center;
    color: #60c7d0;
    font-weight: 500;
}

.about {
    text-align: left;
    max-width: 35em;
    margin: 0 auto;
}

.content-first {
    background-color: #F0F0F0; 
}

.power {
    max-width: 25em;
    margin: 0 auto;
}

.subhead {
    text-align: center;
}

.features {
    text-align: center;
}

.li-style {
    list-style-type: none;
    background-color: #F0F0F0;
}

li {
    font-weight: 300;
}

.faq {
    text-align: center;
    color: gray;
}

.footer {
    background-color: #e6ecd9;
}

.footer ul a::after {
   content: " ·";
}

.footer li:last-child a::after {
    content: none;
}

label {
    display: block;
}

.signup {
    text-align: center;
}

.button {
    display:inline-block;
    font-size: 1em;
    padding: 1em;
    border: solid;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-radius: .25em;
    color: gray;
}

.button:hover {
    border-color: #60c7d0;
    color: #60c7d0; 
}

.button-pos {
    text-align: center;
    padding-top: 1em;
}

.field {
    width: 100%;
    height: 2.5em;
    border: solid;
    border-width: 1px;
    border-color: gray;
}

form {
    display:block;
    margin: 0 auto;
    color: black;
    font-weight: 300;
    max-width: 40em;
    text-align: center;
}

.radio {
    white-space: nowrap;
}

@media only screen and (min-width: 10em){

    .nav{
        text-align: center; 
    }   
    
    .bottom-nav {
    text-align: right;
    }
    
    .copyright {
        text-align: left;
    }
}

@media only screen and (min-width: 20em) {
    
      .nav li {
        display: inline-block;
    }
    
    .nav{
        text-align: center; 
    } 
    
    .title {
        text-align: center;
    }
    
    .copyright {
        text-align: center;
    }
}

@media only screen and (min-width: 40em){

    .nav{
        text-align: center; 
    }   
    
    .bottom-nav {
        text-align: right;
    }
    
    .copyright {
        text-align: left;
    }
    
    .logo-wrap {
        text-align: left;
    }
}

@media only screen and (min-width: 60em){

    .nav{
        text-align: right; 
    }
    
    .bottom-nav {
    text-align: right;
    }
    
    .copyright {
        text-align: left;
    }
}







